@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/*Homepage*/
.body-home {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background-image: url("./assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  backdrop-filter: blur(5px);
}

.text-box {
  position: relative;
  max-width: 600px;
  padding: 50px;
}

.main .text-box h1 {
  color: white;
  font-size: 6em;
  line-height: 1.2em;
  font-weight: 500;
}

.main .text-box h2 {
  margin-left: 10px;
  color: white;
  font-size: 1.6em;
  font-weight: 900;
  text-decoration: none;
}

.main .text-box button {
  width: 350px;
  display: inline-block;
  margin-top: 80px;
  padding: 4px 10px;
  background: #0066ff;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  border: none;
  font-weight: bold;
  font-size: 1.4em;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  font-family: "Quicksand";
}

.main .text-box button:hover {
  background: white;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.image-box {
  padding: 50px;
}

.perfil {
  height: auto;
  width: 100%;
  min-width: 250px;
  max-width: 400px;
}
/* Pagina de Portifolio #393333*/
.main-header {
  margin: 0;
  background: #0c8adf;
  height: auto;
  min-height: 10vh;
  padding-top: 20px;
}

.main-header1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
}
.container-links {
  height: 10vh;
  font-family: "Quicksand", sans-serif;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.link-h {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  font-size: 1.1em;
  font-weight: 800;
  color: white;
  text-align: center;
}

.link-h:hover {
  background: white;
  color: black;
  opacity: 80%;
  border-radius: 5px;
}

.link-h:hover p {
  color: black;
}

.perfil-header {
  width: 100px;
  height: 100px;
  padding: 10px;
}

/*Portifolio-Page*/
body {
  background: #f4f5f7;
  background-size: contain;
}

.main-port {
  margin: auto;
  height: 83vh;

  align-content: center;
  max-width: auto;
  overflow: auto;
}
.main-port h1 {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Quicksand", sans-serif;
  padding: 15px;
}
.port-items {
  padding: 10px 10px 10px 10px;
  width: auto;
}

.container-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*Project Item*/

.item {
  margin: 20px;
  width: 350px;
  min-height: 250px;
  max-height: 350px;
  padding: 5px;
  box-shadow: rgba(100, 100, 111, 0.671) 0px 7px 29px 0px;
  border-radius: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.name-item {
  height: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.name-item h3 {
  font-size: 1.5em;
}
.item button {
  margin: 4px;
  width: 160px;
  height: 40px;
}

.item button:hover {
  background: rgba(0, 255, 42, 0.767);
  border: none;
}

.item button:hover a {
  color: black;
}

.item a {
  text-decoration: none;
  color: white;
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 1.1em;
}
/* .thumb-item {
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 120px;
} */

/*Contact Page */

.cont1-contact {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 25vh;
}
.cont2-contact {
  width: 40%;
  min-width: 400px;
  padding: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}
.cont2-contact a {
  text-decoration: none;
}

.cont2-contact:hover {
  background: rgba(146, 146, 146, 0.192);
  border-radius: 10px;
  color: white;
}
.div-icon {
  color: black;
}

.icon-c {
  width: auto;
  min-height: 50px;
}

.div-cont-text {
  color: black;
  font-size: 1.5em;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}

/* About page */

.about-section {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.perfil-about {
  height: auto;
  width: 100%;
  padding: 30px;
  min-width: 100px;
  min-height: 100px;
  max-height: 300px;
  max-width: 300px;
  align-self: center;
}
.div-about {
  width: 60%;
  text-align: justify;
  align-self: center;
}

.div-about p {
  margin-top: 20px;
  margin-left: 30px;
}

/* Footer */

.main-footer {
  margin: 0;
  background: #0c8adf;
  height: auto;
  min-height: 7vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-footer p {
  margin-top: 5px;
  margin-right: 10px;
  text-align: center;
}
