@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Homepage*/
.body-home {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background-image: url("./assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  backdrop-filter: blur(5px);
}

.text-box {
  position: relative;
  max-width: 600px;
  padding: 50px;
}

.main .text-box h1 {
  color: white;
  font-size: 6em;
  line-height: 1.2em;
  font-weight: 500;
}

.main .text-box h2 {
  margin-left: 10px;
  color: white;
  font-size: 1.6em;
  font-weight: 900;
  text-decoration: none;
}

.main .text-box button {
  display: inline-block;
  margin-top: 80px;
  padding: 8px 60px;
  background: #116cb6;
  color: white;
  border-radius: 40px;
  border: none;
  font-weight: 600;
  font-size: 1.4em;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
}

.main .text-box button:hover {
  background: white;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.image-box {
  padding: 50px;
}

.perfil {
  height: auto;
  width: 100%;
  min-width: 250px;
  max-width: 400px;
}
/* Pagina de Portifolio*/

.main-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  justify-content: center;
  background: #393333;
}
.container-links {
  font-family: "Quicksand", sans-serif;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.link-h {
  padding: 10px;
  margin: 5px;
  font-size: 1.1em;
  font-weight: 800;
  color: white;
}

.link-h:hover {
  background: white;
  color: black;
  opacity: 80%;
  border-radius: 5px;
}

.link-h:hover p {
  color: black;
}

.perfil-header {
  width: 100px;
  height: 100px;
  padding: 10px;
}

/*Project Item*/

.item {
  max-width: 350px;
  max-height: 400px;
  max-height: auto;
  border: black 2px solid;
  border-radius: 10px;
  list-style-type: none;
}
.thumb-item {
  border-radius: 10px;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

/*Portifolio-Page*/
.body{
  background: white;
}

.main-port {
  margin: auto;
  height: 100vh;
  padding: 20px;
  align-content: center;
  max-width: 1280px;
  background: rgba(122, 112, 111, 0.288);
}
.main-port h1{
  text-align: center;
  margin-bottom: 20px;
}
.port-items{
  display: flex;
  justify-content: center;
}
